@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import "tailwindcss";

@theme {
  --color-bg-primary: #F9F7F4;
  --color-bg-secondary: #EAE8E4;
  --color-text-primary: #1A1A1A;
  --color-text-secondary: #4A4A4A;
  --color-accent: #D9894F;
  --color-bg-dark: #121212;

  --font-sans: "Roboto", sans-serif;
  --font-serif: "Roboto", serif;
}

:root {
  --color-bg-primary: #F9F7F4;
  --color-bg-secondary: #EAE8E4;
  --color-text-primary: #1A1A1A;
  --color-text-secondary: #4A4A4A;
  --color-accent: #D9894F;
  --color-bg-dark: #121212;
}

body {
  background-color: var(--color-bg-primary);
  color: var(--color-text-primary);
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto", sans-serif;
}