@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&family=Lora:ital,wght@0,400;0,500;0,600;1,400&display=swap');

@theme {
  --color-bg-primary: #F9F7F4;
  --color-bg-secondary: #EAE8E4;
  --color-text-primary: #1A1A1A;
  --color-text-secondary: #4A4A4A;
  --color-accent: #D9894F;
  --color-bg-dark: #121212;

  --font-sans: "Inter", sans-serif;
  --font-serif: "Lora", serif;
}

:root {
  --color-bg-primary: #F9F7F4;
  --color-bg-secondary: #EAE8E4;
  --color-text-primary: #1A1A1A;
  --color-text-secondary: #4A4A4A;
  --color-accent: #D9894F;
  --color-bg-dark: #121212;
}

body {
  background-color: var(--color-bg-primary);
  color: var(--color-text-primary);
  font-family: "Inter", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Lora", serif;
}